flows (final).json
[{"id":"d1783847.bc32e8","type":"tab","label":"eComBot","disabled":false,"info":""},{"id":"2e93fba8.8d7b34","type":"function","z":"d1783847.bc32e8","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["80938bcb.654be8","b2085fe3.10285"]],"l":false},{"id":"85e44d34.38974","type":"function","z":"d1783847.bc32e8","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["4bc3039d.3e693c","89f8b87b.3c5c38"]],"l":false},{"id":"f6e6bf48.ce449","type":"inject","z":"d1783847.bc32e8","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["2e93fba8.8d7b34"]],"l":false},{"id":"bbc89dd4.83d82","type":"ui_form","z":"d1783847.bc32e8","name":"","label":"","group":"cfe507dc.3c62c8","order":3,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["2e93fba8.8d7b34"]]},{"id":"c6639b16.d4dac8","type":"ui_text","z":"d1783847.bc32e8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"80938bcb.654be8","type":"watson-conversation-v1","z":"d1783847.bc32e8","name":"eComBot","workspaceid":"1e88c415-f23d-42f0-9579-1902607376b2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/39477079-278d-4e54-ab93-0ba4f3aa5b56","timeout":"","optout-learning":false,"x":438.00000762939453,"y":190.00000476837158,"wires":[["85e44d34.38974"]]},{"id":"b2085fe3.10285","type":"ui_text","z":"d1783847.bc32e8","group":"cfe507dc.3c62c8","order":1,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"4bc3039d.3e693c","type":"debug","z":"d1783847.bc32e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"89f8b87b.3c5c38","type":"ui_template","z":"d1783847.bc32e8","group":"cfe507dc.3c62c8","name":"","order":2,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"cfe507dc.3c62c8","type":"ui_group","z":"","name":"CHAT BOT","tab":"32a8854c.684eca","order":1,"disp":true,"width":"6","collapse":false},{"id":"32a8854c.684eca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]