myflow.json
[{"id":"828688e8.d1a9a8","type":"tab","label":"Help Desk","disabled":false,"info":""},{"id":"a1420d79.49e73","type":"function","z":"828688e8.d1a9a8","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["4e0ec9d.8f1bf38","83266398.63ddf"]],"l":false},{"id":"990d0699.9e9f68","type":"function","z":"828688e8.d1a9a8","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["ee3c8ed4.0647a","3ddb36a2.45ff6a"]],"l":false},{"id":"edcdcdab.17e6c","type":"inject","z":"828688e8.d1a9a8","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["a1420d79.49e73"]],"l":false},{"id":"69c1ee5.b342f1","type":"ui_form","z":"828688e8.d1a9a8","name":"","label":"","group":"69e32062.62d97","order":4,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["a1420d79.49e73"]]},{"id":"4c35294f.7cea28","type":"ui_text","z":"828688e8.d1a9a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"4e0ec9d.8f1bf38","type":"watson-conversation-v1","z":"828688e8.d1a9a8","name":"Help Desk","workspaceid":"96ad6ddb-7a35-47ab-b31d-f389e3e36bab","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ff2f41f7-a90c-479f-bf26-f23bcd599df3","timeout":"","optout-learning":false,"x":448.00000762939453,"y":190.00000476837158,"wires":[["990d0699.9e9f68"]]},{"id":"83266398.63ddf","type":"ui_text","z":"828688e8.d1a9a8","group":"69e32062.62d97","order":2,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"ee3c8ed4.0647a","type":"debug","z":"828688e8.d1a9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"3ddb36a2.45ff6a","type":"ui_template","z":"828688e8.d1a9a8","group":"69e32062.62d97","name":"","order":3,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"69e32062.62d97","type":"ui_group","z":"","name":"CHAT BOT","tab":"74d4b73f.edff78","order":1,"disp":true,"width":"6","collapse":false},{"id":"74d4b73f.edff78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]